@{
    ViewData["Title"] = "BusNow Пловдив";
}

<div class="container mt-4">
    <div class="p-5 mb-4 bg-light rounded-3 shadow-sm">
        <div class="container-fluid py-4">
            <h1 class="display-5 fw-bold">BusNow Пловдив</h1>
            <p class="col-md-8 fs-5">
                Уеб приложение за визуализация и следене на градския транспорт в Пловдив.
            </p>
            <a asp-controller="Lines" asp-action="Index" class="btn btn-primary btn-lg">Търси линии</a>
        </div>
    </div>
</div>